<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="regular/base::layout(~{::section})">
<head>
    <meta charset="UTF-8"/>
    <title>This is home page</title>
</head>
<body>
<section>
    <form th:object="${assignment}" th:action="@{'/a/regular/' + ${aId} + '/submit-exam'}" method="post">
    <div th:each="q, iterator : ${assignment.questions}">
            <div class="card mr-3 ml-3">
                <div class="card-header">
                    <div class="input-group-prepend">
                        <h4>
                        <span th:text="${iterator.index + 1} + ')' + '  '"></span>
                        <span th:text="${q.description}"> </span>
                        </h4>
                    </div>
                    <ul>
                        <li th:each="op, count : ${q.options}">
                            <label>
                                <input type="radio" th:name="${q.qId}" th:value="${op}" />
                                <span th:text="${op}"></span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</section>
</body>
</html>