<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="user/base::layout(~{::section})">
<head>
    <meta charset="UTF-8"/>
    <title>this is home page</title>
</head>
<body>
<section>
    <div class="quswrap">
        <div class="quslist">
            <div class="qus_txt">1. When a number is subtracted from the number 8,12 and 20, the remainders are in continued proportion, Find the number ?</div>
        </div>
        <br>
        <div class="optrow">
            <div class="optdiv"><input type="radio" name="optionset1" id="optionset1_1" value="" onclick="if (!window.__cfRLUnblockHandlers) return false; optchkd(1,1,'1_1',1,'explain1');"> <label for="optionset1_1">4</label><img class="valid_img" id="right1_1" src="https://img4.fresherslive.com/mock/right_icon.webp"><img class="valid_img" id="wrong1_1" src="https://img4.fresherslive.com/mock/wrong_icon.webp"></div>
       </div>
        <br><br>
        <div class="showans_div" id="showans1"><span class="showans_span">SHOW ANSWER</span></div>
        <div class="explanation" id="explain1">
            <div class="exp_tit crct">Correct Ans:<span class="crct_ans">4</span></div>
            <div class="exp_tit" id="exp_tit1">Explanation:</div>
        </div>
        <div class="wspacediv" id="wspace1">
            <div class="wspacea" id="workspc1" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:workspaceDisplay('work-space1','workspc1');">
                Workspace</div>
            <textarea class="wspacetarea" id="work-space1"></textarea><br>
        </div> <br>
        <hr class="wspacehr">
        <br><br>
</div>
</section>
</body>
</html>